body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #111;
  padding: 15px;
}

nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: #222;
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

.skills span {
  background: #ddd;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 768px) {
  .projects {
    justify-content: center;
  }
}
